<ion-header no-border>

  <div class="cabeceraGeneral">
    <img src="../../assets/images/PulmanLogo.png" style="padding: 1vh; position:
      relative; z-index: 100; height: 100%;
      object-fit:scale-down;padding-top: 8vh; margin: 30%;">
  </div>

</ion-header>



<ion-content style="
border-left: 1rem solid var(--ion-color-primary);
border-right: 1rem solid var(--ion-color-primary);
border-bottom: 1rem solid var(--ion-color-primary);
">

  <div *ngIf="loading "
    style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;zoom: 2rem;">
    <div style="zoom: 3rem;">
      <ion-spinner color="primary" name="lines"></ion-spinner>
    </div>
  </div>

  <div *ngIf="!loading && btnValores.length===0"
    style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
    <div style="text-align: center;">No Disponemos de tarifas <br> Contáctenos.. </div>
  </div>

  <div style="width: 100%; padding: 0px 3vw 3vw 3vw;  height: 100%;">
    <div style="background-color: white ;margin: 0px 0px 0px 0px;   height: 100%;">

      <ion-grid *ngIf="btnValores.length>0 " class="ion-no-margin ion-no-padding" style="height: 100% ;">
        <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%">
          <ion-col class="ion-no-margin ion-no-padding" size="12" style="text-align: center;">

            <div style="width: 100%;">

              <div style="width: 100%; text-align: right;padding-top: 1vh;">
                <ion-text color="primary" style="font-size: 1.2rem;">
                  Caratula: {{ventaRuta.caratula}}
                </ion-text>
              </div>
              <ion-row class="ion-no-margin ion-no-padding" style="position: relative;" (click)="volver()">
                <ion-col class="ion-no-margin ion-no-padding" size="12">
                  <div style="display: flex;flex-direction: row; align-items:
                    center;">
                    <ion-icon name="cash" style="color:
                      var(--ion-color-primary);zoom: 2;margin-right: 0.2rem;">
                    </ion-icon>
                    <div>Tarifa</div>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row class="ion-no-margin ion-no-padding ion-justify-content-center">
                <ion-col size=6 class="ion-no-margin ion-no-padding  ion-justify-content-center" *ngFor="let
                  btn of btnValores">
                  <ion-button (click)="btnGral(btn)">
                    <div>
                      ${{btn.toLocaleString('de-DE')}}
                    </div>
                  </ion-button>
                </ion-col>
              </ion-row>

            </div>


          </ion-col>
        </ion-row>
      </ion-grid>


    </div>
  </div>

</ion-content>