ion-button {
//     --background: var(--ion-color-secondary);
//     --background-activated: #ffc2a1;
//     --background-activated-opacity: 1;
//     --border-color: #fe5b00;
//     --color: var(--ion-color-light);
//     --color-activated: white;
//     --transition: background-color 15ms linear;
    text-transform: none;
    margin: 8vh;
    font-weight: bold;
}


ion-content {
    --background: #fe5b00;
    --color: white;
}