<ion-content style="text-align: center; height: 100%;" fixed>
  <ion-grid fixed style="height: 100%;">
    <ion-row
      style="height: 100%;"
      class="ion-justify-content-center ion-align-items-center"
    >
      <ion-col size="12" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding:0 10vw" >
        <img src="../../assets/images/PulmanLogo.png"  />

        <ion-text>
          ¡Bienvenido!
        </ion-text>


        <ion-input type="text" placeholder="Usuario"></ion-input>
        <ion-input type="text" placeholder="Contraseña"></ion-input>



        <ion-button
          expand="block"
          fill="clear"
          shape="round"
          routerLink="/caratula"
        >
          Iniciar sesión
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
